body{
    background-color: black;
}
.ma{
    display: flex;
    flex-direction: row;
}
.playMain{
overflow-y: auto;

}
.middle{
    
    overflow-y: auto;
    scrollbar-width: none;
    background-color: rgb(0, 0, 0);
/* width: 300rem;
height:fit-content; */
margin-left: 3rem ;
margin-top: 5rem;
display: flex;
flex-direction: column;
}
.playmain::-webkit-scrollbar{
    display: none;
}
.ProfilPhoto{
    width:  14rem;
    height:  14rem;
    border: 0.5rem solid red;
    box-shadow: 2px 2px 2px white;
    display: flex;
    flex-direction: row;
    color: white;
    
}

img{
    width: 14rem;
    height: 14rem;
    
}
#PlayListName{
    font-size: 4rem;
    margin-left:6rem;
    
}
.song{
    /* font-size: 6rem; */
   
}
#Songtimer{
font-size: 4rem;    
color: white;
}
.playbutton{
    width: 4rem;
    height: 4rem;
    background-color:rgb(22, 223, 22);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
#PlayButton{
    width: 3rem;
    height: 3rem;
}
.title{
    display: flex;
    flex-direction: row;
}
h5{
    font-size: 1.5rem;
    margin-right: 18rem;
    margin-top: 1rem;
}
#timeImage{
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 1.4rem;
    /* margin-left: 2rem; */
}
hr{
    margin-top: -1rem;
    margin-right: 5rem;
}
h6{
    font-size: 1rem;
}
#SongPhotoCard{
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.songCard{
    display: flex;
    flex-direction: row;
}
#h5{
    margin-left: 18rem;
}
.header{
    display: flex;
    margin-left: auto;
    flex-direction: row;
    
}
.search{
     
    margin-left: 40%;
}
.account{
    margin-left: 43%;
    align-items: flex-end;
    /* padding-left: ; */
    border-radius: 50%;
    background-color: white;  
}

.userImage{
    width: 3rem;
    height: 3rem;
    background-color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
#userImage{
    width: 2.5rem;
    height: 2.5rem;
}
#searchImage{
    border-radius: 20%;
    width: 120%;
    height: 60%;
     background-image: url('./image/baseline_search_black_24dp.png');
     position: relative;
     padding-left: 35px;
     background-size: 30px;
     background-repeat: no-repeat;
     border-radius: 8px;
     color: black;
}
.Side_Bar_Element{
    background-color: black;
    height: 44.2rem;
    width: 18rem;
    margin-right: 2rem;
    color: rgb(215, 213, 213);
}
.HomeDiv{
    margin-top: 5px;
    font-size: 2rem;
    background-image: url('/frontend/image/baseline_home_white_24dp.png');
    background-repeat: no-repeat;
    position: relative;
    padding-left: 35px;
    background-size: 2.2rem;
    border-radius: 8px;
    margin-left: 1rem;
   margin-top: 1rem;
   transition: all 0.3s ease;
}
.HomeDiv:hover{
    transform: scale(1.1);
}
.SearchDiv{
    margin-top: 5px;
    font-size: 2rem;
    background-image: url('/frontend/image/outline_search_white_24dp.png');
    background-repeat: no-repeat;
    position: relative;
    padding-left: 35px;
    background-size: 2.2rem;
    border-radius: 8px;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
}
.SearchDiv:hover{
    transform: scale(1.1);
}
.CreatePlaylist{
    margin-top: 5px;
    font-size: 1.6rem;
    background-image: url('/frontend/image/outline_library_music_white_24dp.png');
    background-repeat: no-repeat;
    position: relative;
    padding-left: 35px;
    background-size: 2.2rem;
    border-radius: 8px;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
}
.CreatePlaylist:hover{
    transform: scale(1.1);
}
.LikedSong{
    margin-top: 5px;
    font-size: 1.6rem;
    background-image: url('/frontend/image/outline_favorite_border_white_24dp.png');
    background-repeat: no-repeat;
    position: relative;
    padding-left: 35px;
    background-size: 2.2rem;
    border-radius: 8px;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
}
.LikedSong:hover{
    transform: scale(1.1);
}
.ResentSong{
    position: relative;
    display: flex;
    flex-direction: row;
    /* margin-left: 0.6rem; */
    /* border: 0.3rem solid red; */
    align-items: center;
    margin-left: 0.4rem;
    margin-right: 0.3rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}
.ResentSong:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.ResentSongMain{
    margin-bottom: 1.9rem;   
}
.SongImage{
    background-color: aqua;
    height: 3rem;
    width: 3rem;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
}
a{
    text-decoration: none;
    color: rgb(193, 193, 193);
}
#music_singer_img{
    width: 5rem;
    height: 3.5rem;
    margin-top: 0.7rem;
    margin-left: 27rem;
    
}
.Music_Player{
    position: relative;
    background-color: rgb(31, 30, 30);
    height: 4.7rem;
}
.MusicMain{
     display: flex;
     flex-direction: row;
     position: relative;
}
#previous{
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;   
        margin-left: 2rem;
}
#play{
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
}
#next{
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
}
#down{
    height: 2.5rem;
    width: 2.5rem;
 margin-left: 2rem;
    margin-top: 1rem;
    
}
#up{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}
#volume{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 1rem;
    margin-left: 3rem;
}
h4{
    margin-top: 3rem;
    color: white;
}
#dot{
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    margin-left: 3rem;
    
}
#volume-slider{
    margin-left: 23rem;
    margin-top: -0.7rem;
    
}